

#trend_name {
	font-size: 1.2em;	
}


#vssr_table table, #vssr_completeness table {
	margin-top: 0px;
	margin-left: 0px;
	width: 100%;
	border: 1px solid black;
}

#vssr_table table thead tr th, #vssr_completeness table thead tr th{
	background-color: #0070C0;
	color: white;
	border: 1px solid black;
    text-align: center;
}

#vssr_table table tbody tr td, #vssr_completeness table tbody tr td{
	text-align: center;
	border: 1px solid black;
}

#vssr_table table tbody tr th{
	text-align: left;
	border: 1px solid black;
	padding-left: 5px;
}

#vssr_table table tbody tr td{
	white-space: nowrap;
	border: 1px solid black;
}

#vssr_completeness {
	margin-top: 25px;	
}

svg{
	border: 1px solid black;	
}

#vssr_footnotes{
	margin-top: 5px;
	margin-left: 5px;
	text-align: left;
	display: block;	
	margin-right: 25px;
}

.hiddenFN{
	display:none;	
}


#vssr_rate_selector {
  margin-left: 15px;
}

#vssr_generate_chart input{
  margin-left: 25px;
}

.groupLabel{
    display: block;
}

.groupCheckbox {
    float: left;
}

.hanging-indent {
    display: block;
    padding-left: 1.5em;
    text-indent: -1.2em;
}

